@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", serif;
  color-scheme: light dark;
  color: #f7f7f7;
  background-color: #2b1216;

  --main-font: "Poppins", serif;
  --second-font: "Roboto", serif;
  --third-font: "Arapey", serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-and-dragonright-bg {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.5) 30%,
      rgba(0, 0, 0, 0.7) 60%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url("/src/assets/background/dragon-right.svg");
  background-color: #ca0605;
  background-size: cover, contain;
  background-position: center, right;
  background-repeat: no-repeat, no-repeat;
}

.gradient-and-dragonleft-bg {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.0) 100%
    ),
    url("/src/assets/background/dragon-left.svg"),
    linear-gradient(to bottom, #4a0e2e, #6a1f3a);
  background-size: cover, contain, cover;
  background-position: center, 10% center, center;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

.rightBar {
  font-family: var(--third-font);
  font-weight: 400;
  font-style: normal;
  font-size: 6.375rem;
  letter-spacing: 0.3rem;
}

.third-font {
  font-family: var(--third-font);
}

/* Poppins */
.main-font {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.main-font-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.main-font-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

/* Roboto */
.second-font-light {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}

.second-font-bold-italic {
  font-family: "Roboto", serif;
  font-weight: 600;
  font-style: italic;
}

.second-font-bold {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

.second-font-black {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: normal;
}

.letter-spacing-3 {
  letter-spacing: 0.05rem;
}

.letter-spacing-5 {
  letter-spacing: 0.1rem;
}

.letter-spacing-10 {
  letter-spacing: 0.2rem;
}

@media (max-width: 768px) {
  .rightBar {
    font-size: 4rem;
  }
}

@media (max-width: 480px) {
  .rightBar {
    font-size: 2.5rem;
  }
}
